<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinxin.mapper.UserMapper">
	
	<!-- 组织一个完整的sql -->
	<select id="getUserList" parameterType="java.util.Map" resultType="java.util.Map">
		select * from y1ct_bd_user
	</select>
	
	<select id="getUserList2" parameterType="java.util.Map" resultType="java.util.Map">
		select * from y1ct_bd_user
	</select>
	
	<select id="getUserList3" parameterType="java.util.Map" resultType="java.util.Map">
		select * from y1da_exam_hosp_depart where pdeptid='7' and status='1'
	</select>
</mapper>
